<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>R7 FrontEnd Test</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" href="stylesheets/style.css" media="all">
</head>
<body>

	<div id="main">
		<div id="section">
			<div id="header">
				<h2 class="ranking">RANKING</h2>
				<div class="logo">
					<img src="/imagens/logo.png" alt="Logo A Fazenda" title="Logo A Fazenda">
				</div>
			</div>

			<div id="article">
			
				<ul id="lista-classificacao">
					<%lugar = 1%>
				  <%for(i=0; i<retornoFazenda.length; i++) {%>
						<li class="<%=retornoFazenda[i][6]%>">
							<div class="dados-posicao">
								<div class="img">
									<img src="<%=retornoFazenda[i][2]%>" alt="<%=retornoFazenda[i][0]%>" title="<%=retornoFazenda[i][0]%>">
								</div>
								<div class="posicao"><%=retornoFazenda[i][5]%></div>
							</div>

							<p class="nome"><%=retornoFazenda[i][0]%></p>
							<p class="descricao"><%=retornoFazenda[i][1]%></p>

							<div class="avaliacao">

								<div class="gostam">
									<p>GOSTAM</p>
									<span><%=retornoFazenda[i][3]%>%</span>
								</div>

								<div class="nao-gostam">
									<p>NÃO GOSTAM</p>
									<span><%=retornoFazenda[i][4]%>%</span>
								</div>

							</div>

						</li>
					<%lugar = lugar + 1%>
				  <%}%>
				</ul>

			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="javascripts/main.js"></script>
</body>
</html>
